.features-list {
    @media screen and (min-width: 768px) and (max-width: 1199px) {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
    }
    @media screen and (min-width: 1200px) {
        display: flex;
    }
}

.features-list__item {
    @media screen and (max-width: 767px) {
        margin-top: 0;

        &:not(:last-child) {
            margin-bottom: 30px;
        }
    }
    @media screen and (min-width:768px) and (max-width: 1199px) {
        flex-basis: calc((100% - 30px) / 2);
    }
    @media screen and (min-width: 1200px) {
        width: 270px;
        
        &:not(:last-child) {
            margin-right: 30px;
        }
    }
    
}

.feature-list__picture {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 0;
    margin-bottom: 30px;
    height: 120px;

    background-color: $teamBackgroundColor;
}

.features-list__title {
    margin-top: 0;
    margin-bottom: 10px;

    color: $additionalPrimaryTextColor;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    
    @media screen and (max-width: 767px) {
        text-align: center;
    }
}

.features-list__text {
    margin-top: 0;
    margin-bottom: 0;

    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}