.team {
    background-color: $teamBackgroundColor;
}

.team-list {
    @media screen and (min-width: 768px) and (max-width: 1199px) {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
    }
    @media screen and (min-width: 1200px) {
        display: flex;
    }
}

.team-list__item {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    background-color: $primaryBackgroundColor;

    @media screen and (max-width: 767px) {
        margin-top: 0;
        
        &:not(:last-child) {
            margin-bottom: 30px;
        }
    }
    @media screen and (min-width: 768px) and (max-width: 1199px) {
        flex-basis: calc((100% - 30px) / 2);
    }
    @media screen and (min-width: 1200px) {
        &:not(:last-child) {
             margin-right: 30px;
        }
    }
}

.team-list__content {
    padding-top: 30px;
    padding-bottom: 30px;
    
    @media screen and (min-width: 480px) {
        padding: 30px 122px 24px;

    }
    @media screen and (min-width: 768px) {
        padding: 30px 74px 24px;
    }

    @media screen and (min-width: 1200px) {
        padding: 30px 32px;
    }
}

.team-list__name {
    margin-top: 0;
    margin-bottom: 10px;

    color: $additionalPrimaryTextColor;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
}

.team-list__occupation {
    margin-top: 0;
    margin-bottom: 16px;

    font-size: 16px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
}
