.social-list {
    display: flex;
}

.social-list__item {
    &:not(:last-child) {
        margin-right: 10px;
    }
}

.social-list__link {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 44px;
    height: 44px;

    border-radius: 50%;

    fill: $iconFillColor;
    background-color: $primaryBackgroundColor;

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        fill: $secondaryTextColor;
        background-color: $accentColor;
    }

}

.social-list__link--footer-theme {

    background-color: #43444D;
    fill: $secondaryTextColor;
    
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
    &:hover,
    &:focus {
        background-color: $accentColor;
    }

}
