// COLORS

$primaryTextColor: #757575;
$additionalPrimaryTextColor: #212121;
$accentColor: #2196F3;
$secondaryTextColor: #FFFFFF;
$additionalSecondaryTextColor: rgba(255, 255, 255, 0.6);

$primaryBackgroundColor: #FFFFFF;
$secondaryBackgroundColor: #2F303A;
$teamBackgroundColor: #F5F4FA;

$line: #ECECEC;

$primaryButtonText: #FFFFFF;
$primaryButtonBackground: #2196F3;

$primaryButtonBackgroundAccent: #188CE8;

$secondaryButtonText: #212121;
$secondaryButtonBackground: #F5F4FA;

$iconFillColor: #AFB1B8;

//FONT-FAMILY

$primaryFontFamily: Roboto, sans-serif;
$secondaryFontFamily: Raleway, sans-serif;
